.publication_table_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.publication_table {
  overflow-x: scroll;
  margin-inline: 40px;
}

.publication_table .table_manage_buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.publication_table table {
  width: 100%;
  border-collapse: collapse;
}
.publication_table td:first-child {
  color: var(--clr-primary);
}
.publication_table tr {
  border-top: 1px solid var(--clr-disabled);
}
.publication_table tr:hover:not(.no_hover) {
  background-color: var(--clr-disabled);
}

.publication_table th,
.publication_table td {
  padding: 8px;
  text-align: left;
}

.publication_table th {
  background-color: var(--clr-disabled);
}
