body {
  font-family: "Inter", Arial, sans-serif;
}

/* typography */

p.heading,
h1.heading {
  font-family: "PlayfairDisplay";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
}
.text-center {
  text-align: center;
}

/* icons */
.search-icon {
  width: 20px;
  height: 20px;
  display: block;
  filter: invert(1);
}

.publication-link {
  position: relative;
}
.publication-icon {
  height: 44px;
  filter: invert(0.5);
}
.publication-icon.active {
  filter: invert(1);
}

.icon-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon-btn:hover {
  transform: scale(1.1);
}

/* image */
.image-arch {
  width: 225px;
  height: 270px;
  padding: 10px;
  border-radius: 145px 145px 0 0;
  border: 1px solid black;
}

.image-round {
  width: 238px;
  height: 238px;
  padding: 10px;
  border-radius: 200px;
  border: 1px solid black;
}

/* publication */

.publication_page {
  min-height: 100%;
  padding: 75px;
  background-color: black;
  color: white;
}

.publication_page__title {
  margin-bottom: 30px;
}

.publication_page__info {
  margin-bottom: 30px;
}

.publication_page__date {
  margin-bottom: 30px;
}

.publication_page__event__image {
  border-color: white;
  transition: 0.3s;
}
.publication_page__event__image:hover {
  background-color: var(--clr-secondary);
}

.publication_page__events-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.publication_page__event__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.publication_page__event {
  display: flex;
  gap: 30px;
}
